/* Fonte Oswald */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Códigos do body */

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(59, 2, 2);
    border-radius: 20px;
}

/* Término códigos do body */

/* Código do header inicial */

.header-index .container,
.header .container {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: row;
    height: 100px;
    width: 100%;
}

.header-index .container .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 90%;
}

.header-index .container .navbar-imagem,
.header .container .navbar-imagem {
    height: 100%;
    background-color: transparent;
}

.header-index .container .navbar-imagem img,
.header .container .navbar-imagem img {
    height: 100%;
}

.navbar-button {
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 22px;
    margin-right: 5px;
    margin-left: 5px;
    border: 0;
    height: 80%;
    width: 10%;
    cursor: pointer;
}

.navbar-button:hover {
    color: red;
    transition: 0.5s;
    opacity: 0.7;
}

/* Término do header inicial */

/* Começo do index */

.banner-index .container {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
}

.bg_video {
    height: 100%;
    width: 100%;
}

.banner-imagem {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    height: auto;
}

.banner-imagem img {
    display: flex;
    justify-content: center;
    height: 400px;
    align-self: center;
}

.banner-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.banner-label h1 {
    font-size: 50px;
}

.banner-label p {
    display: flex;
    text-align: center;
    font-size: 30px;
}

/* Término do index */

/* Começo do footer */

.footer .container {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: black;
}

.footer-imagem {
    display: flex;
    justify-content: center;
    width: 30%;
}

.footer-imagem img {
    height: 100%;
}

.footer-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 70%;
}

/* Término do footer */

/* Início do Cadastro */

.container-cadastro {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.950);
    font-family: 'Oswald', sans-serif;
    position: fixed;
    z-index: 100;
    display: none;
    padding-top: 10vh;
}

@keyframes animaCard {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.container-cadastro .card-cadastro {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 80px;
    width: 70vw;
    height: 77vh;
    margin: auto;
    animation-name: animaCard;
    animation-duration: 1.3s;
    border: 2px solid gray;
}

.header-cadastro {
    display: flex;
    flex-direction: row;
}

.card-cadastro b {
    position: absolute;
    text-align: center;
    margin-left: 62%;
    width: 5%;
    font-size: 29px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.card-cadastro h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    text-shadow: 0 0 4px #fff;
    width: 95%;
}

/* form */
.form-cadastro {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 70%;
    width: 95%;
}

.box-cadastro {
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn-card {
    margin: auto;
    height: 10%;
    width: 20%;
    background-color: red;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.label-cadastro-login {
    margin: auto;
    color: white;
    text-shadow: 0 0 4px #fff;
    font-size: 18px;
}

.input-cadastro {
    margin: auto;
    height: 10%;
    width: 90%;
    color: white;
    background: transparent;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid gray;
}

.erro_cadastro{
    margin: auto;
    height: 15px;
    font-size: 15px;
    color: red;
    text-shadow: 0 0 4px rgb(124, 26, 26);
    font-weight: bolder;
}

.input-cadastro::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(100%) saturate(10%) hue-rotate(90deg);
}

/* Término do cadastro */

/* Início login */

.container-login {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.950);
    font-family: 'Oswald', sans-serif;
    position: fixed;
    z-index: 100;
    display: none;
    padding-top: 10vh;
}

.container-login .card-login {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 80px;
    width: 70vw;
    height: 77vh;
    margin: auto;
    animation-name: animaCard;
    animation-duration: 1.3s;
    border: 2px solid gray;
}

.header-login {
    display: flex;
    flex-direction: row;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 50%;
    width: 95%;
}

/* obse*/
.card-login .erro_cadastro{
    display: none;
}

.carregando{
    display: none;
    margin: auto;
    font-size: 20px;
    color: red;
}

.card-login b {
    position: absolute;
    text-align: center;
    margin-left: 62%;
    width: 5%;
    font-size: 29px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.card-login h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    text-shadow: 0 0 4px #fff;
    width: 95%;
}

.input-login {
    margin: auto;
    height: 10%;
    width: 40%;
    color: white;
    background: transparent;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid gray;
}

/* Término do Login */

/* Tela Principal */

/* Header */

.header .container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.750);
}

.header .container .navbar {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    list-style: none;
    font-family: 'Oswald', sans-serif;
}

.header .container .navbar li,
.header .container .navbar li a {
    margin: auto;
    font-size: 22px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header .container .navbar li:hover,
.header .container .navbar li a:hover {
    color: red;
    transition: 0.5s;
    opacity: 0.7;
}

.header .container .logoff {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10%;
}

.header .container .logoff .btn-card {
    height: 40%;
    width: 60%;
}

.header .container .logoff .btn-card:hover {
    font-weight: bolder;
    border: 1px solid white;
    transition: 0.5s;
    opacity: 0.7;
}

/* Término do header */

/* Sobre */

.banner .container {
    display: flex;
    flex-direction: column;
    margin-top: 101px;
    height: 2400px;
    width: 100%;
}

.container .sobre,
.container .personagem,
.container .midia,
.container .musica {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.container .personagem,
.container .musica {
    background-color: black;
}

.container .sobre {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.container .sobre h1 {
    margin: auto;
    color: white;
    font-size: 60px;
}

.container .sobre h2,
.container .personagem h2,
.container .midia h2,
.container .musica h2,
.container-quiz h2 {
    margin: auto;
    color: red;
    font-size: 35px;
    text-shadow: 0 0 5px rgb(255, 0, 0);
}

.container .sobre p {
    margin: auto;
    color: white;
    font-size: 20px;
}

/* Término do Sobre */

/* Início dos Personagens */

.personagem h2 {
    font-family: 'Oswald', sans-serif;
}

.container .personagens {
    display: flex;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
    height: 90%;
    width: 100%;
}

.container .personagens .perso {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 90%;
    width: 16.66%;
}

.perso .nome_personagem {
    display: flex;
    height: 90%;
    width: 100%;
}

.perso .nome_personagem img:hover {
    border: 1px solid red;
    cursor: pointer;
    z-index: 1;
}

.personagens .perso .nome_persongem img {
    position: static;
}

/* Término dos Personagens */

/* Início da Mídia */

.slider {
    display: flex;
    height: 70%;
    width: 700px;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(61, 0, 0);
    border-radius: 20px;
    /* vertical-align: top; */
}

.slider input {
    display: none;
}

.slider label {
    background-color: rgb(104, 2, 2);
    border: 1px solid rgb(0, 0, 0);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 25px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 90px;
}

.slider li:nth-child(3) label {
    left: 170px;
}

.slider li:nth-child(4) label {
    left: 250px;
}

.slider li:nth-child(5) label {
    left: 330px;
}

.slider li:nth-child(6) label {
    left: 410px;
}

.slider li:nth-child(7) label {
    left: 490px;
}

.slider li:nth-child(8) label {
    left: 570px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* Término da mídia */

/* Começo das músicas */

.musica .container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 75%;
    width: 70%;
    border: 1px solid rgb(78, 1, 1);
}

.icones, .tocando{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 15%;
    width: 100%;
    background-color: rgb(37, 0, 0);
    border: 1px solid rgb(37, 0, 0);
}

.icones{
    justify-content: space-around;
    align-items: center;
}

.container .icones img{
    height: 80%;
    width: 5%;
}

.icones img:hover{
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 15px red;
}

.tocando span{
    margin: auto;
    color: white;
}

.tocando span:hover{
    cursor: default;
}

.icones span:hover{
    text-shadow: 0 0 5px rgb(255, 255, 255);
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
}

.container-playlist{
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
}

.container-playlist .playlist{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.playlist .som{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    color: white;
    cursor: pointer;
}

.playlist .som:hover{
    color: red;
    border: 1px solid rgb(255, 0, 0);
    transition: 0.5s;
    opacity: 0.7;
}

/* Término das músicas */

.container-quiz{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 131px;
    height: 490px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.900);
    border-radius: 100px;
    border: 2px solid gray;
}

.barra{
    margin: auto;
    margin-bottom: 0;
    display: flex;
    height: 5%;
    width: 90%;
    /* border: 1px solid gray; */
}

.barra h4{
    margin: auto;
    color: red;
    font-weight: bolder;
}

.container-card-quiz{
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 90%;
    /* border: 1px solid red; */
}

.card-quiz{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95%;
    width: 49%;
    /* border-right: 1px solid gray; */
}

.card-quiz h4{
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 26px;
}

.radios{
    margin: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    height: 10%;
    width: 50%;
    /* border: 1px solid red; */
}

.radios label{
    margin-left: 10px;
    color: white;
}

.quiz-buttons{
    margin: auto;
    display: flex;
    height: 10%;
    width: 90%;
    /* border: 1px solid blue; */
}

.quiz-buttons .btn-card{
    height: 80%;
}

#intro .card-quiz{
    width: 70%;
}

#pergunta1, #pergunta2, #pergunta3, #pergunta4, #pergunta5, #pergunta6, #pergunta7, #pergunta, 
#pergunta9, #pergunta10, #intro, #intro_button{
    display: none;
}

#quiz_button{
    /* display: none; */
}