@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
}

/* Código do header */

.header-index .container {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: row;
    height: 100px;
    width: 100%;
}

.header-index .container .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 90%;
}

.header-index .container .navbar-imagem {
    height: 100%;
    background-color: transparent;
}

.header-index .container .navbar-imagem img {
    height: 100%;
}

.navbar .navbar-button {
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 22px;
    margin-right: 5px;
    margin-left: 5px;
    border: 0;
    height: 80%;
    width: 10%;
    cursor: pointer;
}

.navbar-button:hover { 
    color: red; 
    transition: 0.5s;
    opacity: 0.7;
}

/* Término do header */

/* Começo do index */

.banner-index .container {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
}

.bg_video {
    height: 100%;
    width: 100%;
}

.banner-imagem{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    height: auto;
}

.banner-imagem img{
    display: flex;
    justify-content: center;
    height: 400px;
    align-self: center;
}

.banner-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Oswald', sans-serif;
}

.banner-label h1{
    font-size: 50px;
}

.banner-label p{
    font-size: 30px;
}

/* Término do index */

/* Começo do footer */

.footer .container{
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: black;
}

.footer-imagem{
    display: flex;
    justify-content: center;
    width: 30%;
}

.footer-imagem img{
    height: 100%;
}

.footer-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 70%;
}

/* Início do Cadastro */

.container-cadastro {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.950);
    font-family: 'Oswald', sans-serif;
    position: fixed;
    z-index: 100;
    display: none;
    padding-top: 10vh;
}

@keyframes animaCadastro{
    0%{
     opacity: 0%;   
    }

    100%{
        opacity: 100%;   
    }
}

.container-cadastro .card-cadastro{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 80px;
    width: 70vw;
    height: 77vh;
    margin: auto;
    animation-name: animaCadastro;
    animation-duration: 1.3s;
    border: 2px solid gray;
}   

.header-cadastro{
    display: flex;
    flex-direction: row;
}

.card-cadastro b{
    position: absolute;
    text-align: center;
    margin-left: 62%;
    width: 5%;
    font-size: 29px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.card-cadastro h1{
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    text-shadow: 0 0 4px #fff;
    width: 95%;
}

/* form */
.form-cadastro {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 70%;
    width: 95%;
}

 .box-cadastro {
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn-cadastro{
    margin: auto;
    height: 10%;
    width: 20%;
    background-color: red;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.label-cadastro{
    margin: auto;
    color:white;
    text-shadow: 0 0 4px #fff;
    font-size: 18px;
}

.input-cadastro{
    margin: auto;
    height: 10%;
    width: 90%;
    color: white;
    background: transparent;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid gray;
}

.input-cadastro::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(100%) saturate(10%) hue-rotate(90deg);
  }